
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,ul,li,p{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
:root {
    --light-black: #212529;
    --white-color: #fff;
    --light-gray:#868686;
    --black-color: #000;
}
/* custom css */

.custom-font {
    font-weight: 600;
    font-size: 14px;
}
.custom-text {
    font-weight: 400;
    font-size: 14px;
}
.cus-form-control {
    font-size: 14px;
}
.cus-form-control:focus {
    color: var(--light-black);
    background-color: var(--white-color);
    border-color: var(--black-color);
    box-shadow:none;
}
.cus-form-control:hover {
    border-color: var( --light-gray);
}
.btn-blue:hover {
    color: var(--white-color);
    background-color: var(--black-color);
    border-color: var(--black-color);
    padding: 10px 45px;
    font-size: 16px;
    border-radius: 40px;
}
.btn-blue {
    color: rgb(0, 0, 0);
    background-color: var(--white-color);
    border-color: var(--black-color);
    padding: 10px 45px;
    font-size: 16px;
    border-radius: 40px;
    
}
input[type="date"], input#phone {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: var(--white-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#heading{
    position: absolute;
    left: 700px;
    top: 10px;
    text-align: center;
    color: #0f501a;
    font-style: italic;
    font-weight: bold;
}