@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* navbar starts */
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #000;
    font-weight: 600;
    transition: all 0.2s ease-in-out
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #02468a;
}
/* navbar ends */

/* main banner section starts */
.main-banner-section {
    background: url(../images/banner.JPG);
    background-size: cover;
    padding: 110px 0;
}
.main-banner-section .main-banner-content h4 {
    color: #02468a;
    font-size: 19px;
}
.main-banner-section .main-banner-content h1 {
    font-weight: bold;
    font-size: 50px;
    color: #000;
}
.main-banner-section .main-banner-content p {
    color: #474747;
    margin-bottom: 30px;
}
.main-banner-section .main-banner-content a {
    background: #00152a;
    text-decoration: none;
    color: #fff;
    padding: 8px 8px;
    border-radius: 5px;
}
/* main banner section ends */

/* offer section starts */
.offer-section {
    padding: 60px 0;
}
.offer-section .offer-img img {
    width: 100%;
}
.offer-section .offer-content {
    padding: 0 30px;
}
.offer-section .offer-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.offer-section .offer-content p {
    color: #fff;
    margin-bottom: 20px;
}
.offer-section .row {
    background: #00152a;
    padding: 50px 30px;
    border-radius: 5px;
}
.offer-section .offer-content ul {
    padding: 0;
}
.offer-section .offer-content ul li {
    list-style-type: none;
    color: #fff;
    margin-bottom: 10px;
}
.offer-section .offer-content ul li img {
    width: 100%;
    max-width: 12px;
    margin-right: 10px;
}
/* offer section ends */


/* counter section starts */
.counter-section .stats {
    text-align: center;
}
.counter-section .stats .counting {
    color: #00152a;
    font-size: 40px;
    font-weight: 700;
}
.counter-section .stats h5 {
    color: #02468a;
    font-size: 20px;
}
.question-section {
    padding: 50px 0;
}
.question-section .question-content {
    padding: 60px 50px 0;
}
.question-section .question-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}
.question-section .question-content p {
    color: #474747;
    margin-bottom: 30px;
}
.question-section .question-content .question-icon img {
    margin-bottom: 20px;
}
.question-section .question-content .question-icon h5 {
    color: #02468a;
    font-size: 17px;
}
.question-section .question-content .question-icon p {
    color: #474747;
    font-size: 15px;
    margin-bottom: 0;
}
.question-section .col-lg-7 {
    padding-right: 0;
}
.question-section .question-img img {
    width: 100%;
    height: 460px;
    object-fit: cover;
}
/* counter section ends */

/* result section starts */
.result-section {
    padding: 60px 0 0;
    position: relative;
}
.result-content::after {
    position: absolute;
    content: " ";
    background: #ffeeee;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    z-index: -1;
}
.result-section .result-content img {
    width: 100%;
    height: 400px;
}
.result-section .result-content {
    text-align: center;
}
.result-section .result-content h5 {
    color: #02468a;
}
.result-section .result-content h1 {
    color: #000;
    font-weight: 700;
}
/* result section ends */

/* faq section starts */
.faq-section {
    padding: 30px 0;
}
.faq-section .faq-img img {
    width: 100%;
}
.faq-section .faq-content {
    padding: 90px 0;
}
.faq-section .faq-content .accordion .accordion-item .accordion-button {
    color: #005197;
    font-weight: 600;
    box-shadow: none;
    background: transparent;
}
/* faq section ends */

/* smile section starts */
.smile-section {
    background: url(../images/patient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.smile-section .smile-content h4 {
    color: #fff;
    font-size: 30px;
}
.smile-section .smile-content h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.smile-section .smile-content p {
    color: #fff;
    font-size: 20px;
}
/* smile section ends */

/* appointment section starts*/
.appointment-section {
    padding: 30px 0 20px 0;
}
.appointment-section ul {
    padding: 0;
    margin: 0;
}
.appointment-section ul li {
    display: inline-block;
    width: 19%;
}
.appointment-section ul li img {
    margin-bottom: 10px;
}
.appointment-section ul li h5 {
    color: #005197;
    font-size: 18px;
}
.appointment-section ul li p {
    color: #474747;
    font-size: 15px;
}
/* appointment section ends*/

/* footer starts */
.footer .footer-content {
    text-align: center;
}
.footer .footer-content h3 {
    color: #005197;
    font-weight: 600;
}
.footer .footer-content p {
    color: #000;
}
.footer .footer-content p a {
    color: #000;
    text-decoration: none;
}
.footer .footer-content ul {
    padding: 30px 0;
}
.footer .footer-content ul li {
    display: inline-block;
    margin: 0 20px;
}
.footer .footer-content ul li a img {
    width: 100%;
    max-width: 25px;
}
.footer .footer-content .copyright-text {
    color: #727272;
}
.footer .footer-content .copyright-text a {
    color: #727272;
    text-decoration: none;
}
/* footer ends */



/*contact page starts*/
.contact-section {
    margin-bottom: 30px;
}
.contact-section .row .img-section {
    padding-left: 0;
}
.contact-section form {
    padding: 40px 0;
}
.contact-section .contact-img img {
    width: 100%;
}
.contact-section form h5 {
    color: #005197;
    text-transform: uppercase;
    font-weight: 600;
}
.contact-section form h1 {
    color: #000;
    font-weight: 700;
    margin-bottom: 50px;
}
.contact-section form .form-group {
    margin-bottom: 20px
}
.contact-section form .form-group .form-control {
    border: 1px solid #005197;
    border-radius: 0;
    box-shadow: none;
}
.contact-section form .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #00152a;
}
.contact-section form .form-group textarea.form-control {
    height: 150px;
    resize: none;
}
.contact-section form .form-group .btn-submit {
    background: #02468a;
    color: #fff;
}
.offers-section {
    background: #d1e8ff;
    padding: 30px 0;
    margin: 50px 0;
}
.offers-section .offet-content h4 {
    color: #02468a;
}
.offers-section .offet-content h4 span {
    color: #f4572e;
}
.offers-section .offet-content p {
    color: #555555;
}
.offers-section .offer-btn {
    margin-top: 30px;
}
.offers-section .offer-btn a {
    background: #02468a;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
}
/*contact page ends*/


/*services section starts*/
.services-banner {
    background: url(../images/service-banner.jpg);
    background-size: cover; 
}
.services-banner .main-banner-content h1, .services-banner .main-banner-content h4 {
    color: #fff;
}
.services-banner .main-banner-content ul {
    padding: 0;
    margin-top: 30px;
}
.services-banner .main-banner-content ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
.services-banner .main-banner-content ul li a {
    padding: 0;
    background: transparent;
}
.services-banner .main-banner-content ul li a img {
    width: 100%;
    max-width: 30px;
}
.services {
    padding: 50px 0;
}
.services .services-content h3 {
    color: #02468a;
    text-align: center;
    font-size: 20px
}
.services .services-content h1 {
    color: #000;
    font-weight: 600;
    text-align: center;
}
.services .services-content p {
    color: #474747;
    text-align: center;
}
.mixitup-content .mix {
    display: none;
}
.portfolio-filter .mixitup-content .portfolio-item img {
    width: 100%;
}
.appointment-section .appointment-content h3 {
    color: #02468a;
}
.appointment-section .appointment-content p {
    color: #555;
}
.appointment-section .appointment-btn a {
    background: #02468a;
    text-decoration: none;
    color: #fff;
    float: left;
    padding: 9px 20px;
    border-radius: 8px;
    margin-top: 30px;
}
.potentail-section {
    background: #d1e8ff;
    margin-bottom: 30px;
}
.potentail-section .appointment-btn ul {
    padding: 0;
}
.potentail-section .appointment-btn ul li {
    float: left;
    color: #02468a;
    font-size: 25px;
    width: 40%;
    text-align: center;
    padding: 30px 10px;
    background: #fff;
    margin: 0 10px 0 0;
}
.potentail-section .appointment-btn ul li span {
    font-size: 12px;
}
/*services section ends*/