{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>patient infomation form</title>
  </head>
  <body>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <form action="new-patient-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <h4 class="custom-font mb-2 mt-3">Are you now under the care of a physician?</h4>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="radio" name="physican" id="inlineCheckbox1" value="True">
                          <label class="form-check-label custom-text" for="inlineCheckbox1">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="radio" name="physican" id="inlineCheckbox2" value="False">
                          <label class="form-check-label custom-text" for="inlineCheckbox2">No</label>
                        </div>
                      </div>
                      <div class="mb-3 physican d-none">
                        <label for="exampleFormControlTextarea1" class="form-label custom-text mt-2">If "Yes", please explain:</label>
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-8 ">
                      <h6 class="custom-font mb-2 mt-3">What,if any, medications are you taking at this time?</h6>
                      <div class="mb-3">
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Have you been hospitalized in the last year?</h6>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="radio" name="hospitalized" id="inlineCheckbox3" value="True">
                          <label class="form-check-label custom-text" for="inlineCheckbox3">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="radio" name="hospitalized" id="inlineCheckbox4" value="False">
                          <label class="form-check-label custom-text" for="inlineCheckbox4">No</label>
                        </div>
                      </div>
                      <div class="mb-3 hospital d-none">
                        <label for="exampleFormControlTextarea1" class="form-label custom-text mt-2">If "Yes", please explain:</label>
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Have you had any illnesses in the last year?</h6>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="radio" name="illness" id="inlineCheckbox5" value="True">
                          <label class="form-check-label custom-text" for="inlineCheckbox5">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="radio" name="illness" id="inlineCheckbox6" value="False">
                          <label class="form-check-label custom-text" for="inlineCheckbox6">No</label>
                        </div>
                      </div>
                      <div class="mb-3 illness d-none">
                        <label for="exampleFormControlTextarea1" class="form-label custom-text mt-2">If "Yes", please explain:</label>
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">(For WOMEN) Are you pregnant?</h6>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="radio" name="pregant" id="inlineCheckbox7" value="True">
                          <label class="form-check-label custom-text" for="inlineCheckbox7">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="radio" name="pregant" id="inlineCheckbox8" value="False">
                          <label class="form-check-label custom-text" for="inlineCheckbox8">No</label>
                        </div>
                      </div>
                      <div class="mb-3 pregnant d-none">
                        <label for="exampleFormControlTextarea1" class="form-label custom-text mt-2">If "Yes", please explain:</label>
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font mb-2 mt-3">Are you allergic to any of the following?</h6>
                    <div class="col-md-2">
                      <div class="d-flex">
                        <div class="">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                            <label class="form-check-label fw-bold custom-text" for="inlineCheckbox9">NONE</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
                            <label class="form-check-label custom-text" for="inlineCheckbox10">Anesthetic</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox"id="inlineCheckbox11" value="option12">
                            <label class="form-check-label custom-text" for="inlineCheckbox11">Codeine</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13">
                            <label class="form-check-label custom-text" for="inlineCheckbox13">Erythromycin</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option14">
                            <label class="form-check-label custom-text" for="inlineCheckbox14">Latex</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option15">
                            <label class="form-check-label custom-text" for="inlineCheckbox15">Penicillin</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="option16">
                            <label class="form-check-label custom-text" for="inlineCheckbox16">Sulfa</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option17">
                            <label class="form-check-label custom-text" for="inlineCheckbox17">Other:</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="d-flex mb-4"></div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_1" id="inlineCheckbox18" value="option18">
                            <label class="form-check-label custom-text" for="inlineCheckbox18">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_1" id="inlineCheckbox19" value="option19">
                            <label class="form-check-label custom-text" for="inlineCheckbox19">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_1" id="inlineCheckbox20" value="option20">
                            <label class="form-check-label custom-text" for="inlineCheckbox20">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_1" id="inlineCheckbox21" value="option21">
                            <label class="form-check-label custom-text" for="inlineCheckbox21">Servere</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_2" id="inlineCheckbox22" value="option22">
                            <label class="form-check-label custom-text" for="inlineCheckbox22">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_2" id="inlineCheckbox23" value="option23">
                            <label class="form-check-label custom-text" for="inlineCheckbox23">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_2" id="inlineCheckbox24" value="option24">
                            <label class="form-check-label custom-text" for="inlineCheckbox24">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_2" id="inlineCheckbox25" value="option25">
                            <label class="form-check-label custom-text" for="inlineCheckbox25">Servere</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_3" id="inlineCheckbox26" value="option26">
                            <label class="form-check-label custom-text" for="inlineCheckbox26">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_3" id="inlineCheckbox27" value="option27">
                            <label class="form-check-label custom-text" for="inlineCheckbox27">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_3" id="inlineCheckbox28" value="option28">
                            <label class="form-check-label custom-text" for="inlineCheckbox28">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_3" id="inlineCheckbox29" value="option29">
                            <label class="form-check-label custom-text" for="inlineCheckbox29">Servere</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_4" id="inlineCheckbox30" value="option30">
                            <label class="form-check-label custom-text" for="inlineCheckbox30">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_4" id="inlineCheckbox31" value="option31">
                            <label class="form-check-label custom-text" for="inlineCheckbox31">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_4" id="inlineCheckbox32" value="option32">
                            <label class="form-check-label custom-text" for="inlineCheckbox32">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_4" id="inlineCheckbox33" value="option33">
                            <label class="form-check-label custom-text" for="inlineCheckbox33">Servere</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_5" id="inlineCheckbox34" value="option34">
                            <label class="form-check-label custom-text" for="inlineCheckbox34">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_5" id="inlineCheckbox35" value="option35">
                            <label class="form-check-label custom-text" for="inlineCheckbox35">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_5" id="inlineCheckbox36" value="option36">
                            <label class="form-check-label custom-text" for="inlineCheckbox36">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_5" id="inlineCheckbox37" value="option37">
                            <label class="form-check-label custom-text" for="inlineCheckbox37">Servere</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_7" id="inlineCheckbox38" value="option38">
                            <label class="form-check-label custom-text" for="inlineCheckbox38">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_7" id="inlineCheckbox39" value="option39">
                            <label class="form-check-label custom-text" for="inlineCheckbox39">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_7" id="inlineCheckbox40" value="option40">
                            <label class="form-check-label custom-text" for="inlineCheckbox40">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_7" id="inlineCheckbox41" value="option41">
                            <label class="form-check-label custom-text" for="inlineCheckbox41">Servere</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex align-items-center me-2 custom-text">Serverity:</h6>
                        <div class="d-flex">
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_6" id="inlineCheckbox42" value="option42">
                            <label class="form-check-label custom-text" for="inlineCheckbox42">Unknown</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_6" id="inlineCheckbox43" value="option43">
                            <label class="form-check-label custom-text" for="inlineCheckbox43">Mild</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_6" id="inlineCheckbox44" value="option44">
                            <label class="form-check-label custom-text" for="inlineCheckbox44">Moderate</label>
                          </div>
                          <div class="form-check me-2">
                            <input class="form-check-input" type="radio" name="option_6" id="inlineCheckbox45" value="option45">
                            <label class="form-check-label custom-text" for="inlineCheckbox45">Servere</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="d-flex mb-4"></div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                          
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                           
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                          
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                           
                          </div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="d-flex custom-text">Reaction:</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font mb-2 text-center my-3">Dental History</h6>
                    <h6 class="custom-font mb-2 my-3">Please check any of the following problems that apply to you:</h6>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox46" value="option46">
                        <label class="form-check-label custom-text" for="inlineCheckbox46">Bad breath or taste in your mount</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox47" value="option47">
                        <label class="form-check-label custom-text" for="inlineCheckbox47">Headaches, earaches or neck pain</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox48" value="option48">
                        <label class="form-check-label custom-text" for="inlineCheckbox48">Teeth or filling breaking</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox49" value="option49">
                        <label class="form-check-label custom-text" for="inlineCheckbox49">Bleeding, swollen or irritated gums</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox50" value="option50">
                        <label class="form-check-label custom-text" for="inlineCheckbox50">jaw joint pain</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox51" value="option51">
                        <label class="form-check-label custom-text" for="inlineCheckbox51">Tooth pain or discomfort when chewing</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox52" value="option52">
                        <label class="form-check-label custom-text" for="inlineCheckbox52">Grinding or clenching teeth</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox53" value="option53">
                        <label class="form-check-label custom-text" for="inlineCheckbox53">Loose or shifting teeth</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox54" value="option54">
                        <label class="form-check-label custom-text" for="inlineCheckbox54">Sensitivity (Hot,cold,and sweet)</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <div class="snore">
                        <h6 class="custom-font mb-2">Do you snore?</h6>
                        <div class="d-flex">
                          <div class="form-check me-4">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox55" value="option55">
                            <label class="form-check-label custom-text" for="inlineCheckbox55">Yes</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input cus-form-control" type="checkbox" id="inlineCheckbox56" value="option56">
                            <label class="form-check-label custom-text" for="inlineCheckbox56">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="Apnea">
                        <h6 class="custom-font mb-2">Do you have Sleep Apnea?</h6>
                        <div class="d-flex">
                          <div class="form-check me-4">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox57" value="option57">
                            <label class="form-check-label custom-text" for="inlineCheckbox57">Yes</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input cus-form-control" type="checkbox" id="inlineCheckbox58" value="option58">
                            <label class="form-check-label custom-text" for="inlineCheckbox58">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="sleep">
                        <h6 class="custom-font mb-2">Do you constantly feel tired even after a full night of sleep?</h6>
                        <div class="d-flex">
                          <div class="form-check me-4">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox59" value="option59">
                            <label class="form-check-label custom-text" for="inlineCheckbox59">Yes</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input cus-form-control" type="checkbox" id="inlineCheckbox60" value="option60">
                            <label class="form-check-label custom-text" for="inlineCheckbox60">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="dental">
                        <h6 class="custom-font mb-2">Do you believe that your dental problems are causing your medical problems?</h6>
                        <div class="d-flex">
                          <div class="form-check me-4">
                            <input class="form-check-input" type="checkbox" value="" id="inlineCheckbox61" value="option61">
                            <label class="form-check-label custom-text" for="inlineCheckbox61">Yes</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input cus-form-control" type="checkbox" id="inlineCheckbox62" value="option62">
                            <label class="form-check-label custom-text" for="inlineCheckbox62">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label custom-text mt-3">If So, please explain:</label>
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font mb-2">Do you or have you had any of the following?</h6>
                    <div class="col-md-3">
                      <div class="form-check me-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox63" value="option63">
                        <label class="form-check-label custom-text" for="inlineCheckbox63">Dentures</label>
                      </div>                    
                    </div>
                    <div class="col-md-3">
                      <div class="form-check me-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox64" value="option64">
                        <label class="form-check-label custom-text" for="inlineCheckbox64">Partial dentures</label>
                      </div>                    
                    </div>
                    <div class="col-md-3">
                      <div class="form-check me-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox65" value="option65">
                        <label class="form-check-label custom-text" for="inlineCheckbox65">Braces</label>
                      </div>                    
                    </div>
                    <div class="col-md-3">
                      <div class="form-check me-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox66" value="option66">
                        <label class="form-check-label custom-text" for="inlineCheckbox66">Periodontal (gum) disease</label>
                      </div>                    
                    </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font mb-2">Please share the following dates:</h6>
                    <div class="col-md-4">
                      <div class="dental">
                        <label for="staticEmail" class="col-form-label custom-text">Your last dental cleaning:</label>
                        <input class="form-control cus-form-control" name="starting_date" type="date" value="DD-MM-YYYY" id="example-date-input">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="cancer">
                        <label for="staticEmail" class="col-form-label custom-text">Your last oral cancer screening:</label>
                        <input class="form-control cus-form-control" name="starting_date" type="date" value="DD-MM-YYYY" id="example-date-input">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="x-ray">
                        <label for="staticEmail" class="col-form-label custom-text">Your last complete X-rays:</label>
                        <input class="form-control cus-form-control" name="starting_date" type="date" value="DD-MM-YYYY" id="example-date-input">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font mb-2 mt-3">Ona scale of 1-10, with 10 being the highest rating:</h6>
                    <div class="col-md-12">
                      <div class="important me-5">
                      <label for="quantity" class="custom-text mt-3">How important is your dental health to you?</label>
                      <input type="number" id="quantity" name="quantity" min="1" max="10">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="important me-5">
                        <label for="quantity" class="custom-text mt-3">Where would you rate your current dental health?</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="10">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="important">
                        <label for="quantity" class="custom-text mt-3">Where would you rate your current over all physical health?</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="10">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font mb-2 my-3">If you could change your smile, you would:</h6>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox67" value="option67">
                        <label class="form-check-label custom-text" for="inlineCheckbox67">Close spaces or gaps</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox68" value="option68">
                        <label class="form-check-label custom-text" for="inlineCheckbox68">Make them straighter</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox69" value="option69">
                        <label class="form-check-label custom-text" for="inlineCheckbox69">Replace dark metal fillings with tooth-colored fillings</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox70" value="option70">
                        <label class="form-check-label custom-text" for="inlineCheckbox70">Replace old crowns that do not match other teeth</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox71" value="option71">
                        <label class="form-check-label custom-text" for="inlineCheckbox71">Have a smile makeover</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox72" value="option72">
                        <label class="form-check-label custom-text" for="inlineCheckbox72">Repair chipped tooth</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox73" value="option73">
                        <label class="form-check-label custom-text" for="inlineCheckbox73">Make them brighter</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox74" value="option74">
                        <label class="form-check-label custom-text" for="inlineCheckbox74">Replace missing teeth</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="quantity" class="custom-text mt-3">How often do you brush?</label>
                      <input type="number" id="quantity" name="quantity" min="1" max="100"><br><br>
                    </div>
                    <div class="col-md-4">
                      <label for="quantity" class="custom-text mt-3">How often do you floss?</label>
                      <input type="number" id="quantity" name="quantity" min="1" max="100"><br><br>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <h6 class="custom-font mb-2">Do you smoke or use chewing tobacco?</h6>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="checkbox" id="inlineCheckbox76" value="option76">
                          <label class="form-check-label custom-text" for="inlineCheckbox76">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="checkbox" id="inlineCheckbox77" value="option77">
                          <label class="form-check-label custom-text" for="inlineCheckbox77">No</label>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label custom-text mt-2">If "Yes", how often and for how long?</label>
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Name if your previous dentist:</label>
                      <input class="form-control cus-form-control" type="text" placeholder="dentist Name" aria-label="default input example">
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">City:</label>
                      <input type="city" class="form-control cus-form-control" id="inputCity" placeholder="City">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">State:</label>
                      <input type="state" class="form-control cus-form-control" id="inputState" placeholder="State">
                    </div>
                    <div class="col-md-4">
                      <label for="phone" class="custom-font col-form-label"># Phone:</label>
                      <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required=""><br><br>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Please share with us why you left your previous dentist:</h6>
                      <div class="mb-3">
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">What is the most important thing to you about your future smile and dental health?</h6>
                      <div class="mb-3">
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">What is the most important thing to you about your dental visit today?</h6>
                      <div class="mb-3">
                        <textarea class="form-control cus-form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="custom-font mb-2 mt-3">To the best of my knowledge, all of the preceding answers and information provided in this form is gure and correct. I will be responsible to inform the doctor if there is any change in my health at my health at my next appointment.</h6>

                    </div>
                    <div class="col-md-12">
                      <div class="button-section d-flex">
                        <div class="Preview-btn my-5 d-flex justify-content-center">
                          <a href="{% url 'new-user' %}">
                          <button type="button" class="btn btn-blue"><i class="fas fa-angle-double-left me-2"></i> Previous</button>
                          </a>
                        </div>
                        <div class="Next-btn my-5 ms-auto d-flex justify-content-center">
                          
                            <button type="button" id="submit_btn" class="btn btn-blue">Submit </button>
                        </div>
                      </div>
                    <!-- <div class="col-md-12">
                      <div class="submit-btn my-5 d-flex justify-content-center">
                        <button type="button" class="btn btn-blue">Submit</button>
                      </div>
                    </div> -->
                  </div>
                  <input hidden type="text" name="name">
                  <input thidden ype="text" name="preferred_name">
                  <input hidden type="radio" id="inlineCheckbox78" name="martial_status">
                   <input hidden type="radio" id="inlineCheckbox82" name="gender">
                   <input hidden type="street" name="address" id="address">
                   <input hidden type="city" name="city" id="city">
                   <input hidden type="zip" name="zip_code" id="zip_code">
                   <input hidden type="state" name="state" id="state">
                   <input hidden type="county" name="country" id="inputCounty">
                   <input hidden type="tel" id="phone" name="work_number">
                   <input hidden type="tel" id="phone" name="phone_number">
                  <input hidden name="mobile-message" type="radio" id="mobile-message">
                  <input hidden name="email-message" type="radio" id="email-message">
                  <input hidden type="email" name="email" id="email_id" >
                  <input hidden type="text" name="patient_emplorer" >
                  <input hidden type="text" name="referred_name" id="referred_name">
                  <input hidden type="text" name="relative_name" id="relative_name">
                  <input hidden type="text" id="relationship" name="relationship" >
                  <input hidden type="tel" id="relative_phone" name="relative_phone">
                  <input hidden type="text" name="guardian_name" id="guardian_name" >
                  <input hidden type="text" id="guardian_name" name="guardian_name">
                   <input hidden id="parent_dob" name="parent_dob" type="date" value="2001-01-01" id="example-date-input">
                   <input hidden type="radio" id="aids" name="aids">
                   <input  hidden type="radio" name="artifical" id="artifical">
                   <input  hidden type="radio" name="bloody" id="inlineCheckbox6" >
                   <input hidden  type="radio" name="medications" id="inlineCheckbox7" >
                   <input  hidden type="radio" name="cough" id="inlineCheckbox9" >
                   <input  hidden type="radio" name="epilepsy" id="inlineCheckbox11" >
                   <input  hidden type="radio" name="faintin" id="inlineCheckbox13" >
                   <input  hidden type="radio" name="growths" id="inlineCheckbox15" >
                   <input  hidden type="radio" name="high_pressure" id="inlineCheckbox18" >
                   <input  hidden type="radio" name="heart" id="inlineCheckbox19" >
                   <input  hidden type="radio" name="thyrid" id="inlineCheckbox21" >
                   <input  hidden type="radio" name="jaundice" id="inlineCheckbox24" >
                   <input  hidden type="radio" name="loss_appetite" id="inlineCheckbox26">
                   <input  hidden type="radio" name="mitral" id="inlineCheckbox27" >
                   <input  hidden type="radio" name="nervous" id="inlineCheckbox30" >
                   <input  hidden type="radio" name="heart_valve" id="inlineCheckbox31" >
                   <input  hidden type="radio" name="respiratory" id="inlineCheckbox34" >
                   <input  hidden type="radio" name="stomach" id="inlineCheckbox36" >
                   <input  hidden type="radio" name="Sexually" id="inlineCheckbox38" >
                   <input  hidden type="radio" name="loss_weigth" id="inlineCheckbox39" >
                   <input  hidden type="radio" name="anemia" id="inlineCheckbox41" >
                   <input  hidden type="radio" name="asthma" id="inlineCheckbox43" >
                   <input  hidden type="radio" name="implants" id="inlineCheckbox46" >
                   <input  hidden type="radio" name="cancer" id="inlineCheckbox48" >
                   <input  hidden type="radio" name="growths" id="inlineCheckbox49" >
                   <input  hidden type="radio" name="diabetes" id="inlineCheckbox51" >
                   <input  hidden type="radio" name="emphysema" id="inlineCheckbox53" >
                   <input  hidden type="radio" name="fatigue" id="inlineCheckbox55" >
                   <input  hidden type="radio" name="fever" id="inlineCheckbox57" >
                   <input  hidden type="radio" name="hemoptysis" id="inlineCheckbox59" >
                   <input  hidden type="radio" name="hepatitis" id="inlineCheckbox62" >
                   <input  hidden type="radio" name="hypo_thyrid" id="inlineCheckbox65" >
                   <input  hidden type="radio" name="kidney" id="inlineCheckbox66" >
                   <input  hidden type="radio" name="mental_disorder" id="inlineCheckbox68" >
                   <input  hidden type="radio" name="night" id="inlineCheckbox70" >
                   <input  hidden type="radio" name="pacemaker" id="inlineCheckbox73" >
                   <input  hidden type="radio" name="fever" id="inlineCheckbox75" >
                   <input  hidden type="radio" name="fadiation" id="inlineCheckbox77" >
                   <input  hidden type="radio" name="probmes" id="inlineCheckbox79b" >
                   <input  hidden type="radio" name="Tuberculosis" id="inlineCheckbox81b" >
                   <input  hidden type="radio" name="arthritis" id="inlineCheckbox41a" >
                   <input  hidden type="radio" name="blood" id="inlineCheckbox44a" >
                   <input  hidden type="radio" name="blood_thinner" id="inlineCheckbox45a" >
                   <input  hidden type="radio" name="chest_pain" id="inlineCheckbox47a" >
                   <input  hidden type="radio" name="dizziness" id="inlineCheckbox49a" >
                   <input  hidden type="radio" name="excess" id="inlineCheckbox51a" >
                   <input  hidden type="radio" name="glaucoma" id="inlineCheckbox53a" >
                   <input  hidden type="radio" name="head" id="inlineCheckbox55a" >
                   <input  hidden type="radio" name="heart" id="inlineCheckbox57a" >
                   <input  hidden type="radio" name="horaseness" id="inlineCheckbox61a" >
                   <input  hidden type="radio" name="cholesterol" id="inlineCheckbox63a" >
                   <input  hidden type="radio" name="liver" id="inlineCheckbox65a" >
                   <input  hidden type="radio" name="surgery" id="inlineCheckbox72a" >
                   <input  hidden type="radio" name="stroke" id="inlineCheckbox75a" >
                   <input  hidden type="radio" name="transplant" id="inlineCheckbox77a" >
                   <input  hidden type="radio" name="tumor" id="inlineCheckbox79a" >                  
                </form>
              </div>
            </div>
          </div>
        </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
      // document.getElementById("result").innerHTML=localStorage.getItem('inventory_date');
      // $(document).ready(function(){      
      //   $("#result").val(localStorage.getItem('inventory_date'));
      //   localStorage.clear();  
      // });
        
      // $("#submit_btn").on('click', function(){
      //   var url = "{% url 'generate-pdf' %}"
      //   window.open(url,'_blank')
      // })
      // $("input[name='physican']").on('change',function(){
      //   if ($("input[name='physican']:checked").val() == "True"){
      //     $(".physican").removeClass('d-none');
      //   }else{
      //     $(".physican").addClass('d-none');
      //   }
      // });
      
      $("input[name='hospitalized']").on('change',function(){
        if ($("input[name='hospitalized']:checked").val() == "True"){
          $(".hospital").removeClass('d-none');
        }else{
          $(".hospital").addClass('d-none');
        }
      });

      $("input[name='illness']").on('change',function(){
        if ($("input[name='illness']:checked").val() == "True"){
          $(".illness").removeClass('d-none');
        }else{
          $(".illness").addClass('d-none');
        }
      });
    
      $("input[name='pregant']").on('change',function(){
        if ($("input[name='pregant']:checked").val() == "True"){
          $(".pregnant").removeClass('d-none');
        }else{
          $(".pregnant").addClass('d-none');
        }
      });
    </script>
  </body>
</html>