{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>patient infomation form</title>
  </head>
  <body>
    <centre>
    <h2 style="display: flex;
    justify-content: center;
    align-items: center;">New Patient Form</h2>
  </centre>
        <section>
          <div class="container" >
            <div class="row" >
              <div class="col-md-12" >
                <form action="">
                  <div class="row mb-4">
                    <div class="col-md-4">
                        <label for="staticEmail" class="custom-font col-form-label">Date:</label>
                        <input class="form-control cus-form-control" name="starting_date" type="date" value="2020-02-01" id="example-date-input">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Patient Name:</label>
                      <input class="form-control cus-form-control" type="text" name="patient_name" placeholder="John" aria-label="default input example">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Preferred Name:</label>
                      <input class="form-control cus-form-control" type="text" name="preferred_name" placeholder="Doe" aria-label="default input example">
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Please Circle One:</h6>
                      <div class="d-flex mb-2">
                        <div class="form-check me-3">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckChecked">
                          <label class="form-check-label" for="flexCheckChecked">Married</label>
                        </div>
                        <div class="form-check me-3">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckChecked">
                          <label class="form-check-label" for="flexCheckChecked">Single</label>
                        </div>
                        <div class="form-check me-3">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckChecked">
                          <label class="form-check-label" for="flexCheckChecked">Child </label>
                        </div>
                        <div class="form-check me-3">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckChecked">
                          <label class="form-check-label" for="flexCheckChecked">Other</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Gender:</h6>
                      <div class="d-flex mb-2">
                        <div class="form-check me-3">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">Male</label>
                        </div>
                        <div class="form-check me-3">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">Female</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <label for="staticEmail" class="custom-font col-form-label">Patient Address:</label>
                      <input type="street"class="form-control cus-form-control"id="autocomplete"placeholder="#4356,sec-D chandigarh">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">City:</label>
                      <input type="city" class="form-control cus-form-control" id="inputCity" placeholder="City">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Zip:</label>
                      <input type="zip" class="form-control cus-form-control" id="inputZip" placeholder="Zip">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">State:</label>
                      <input type="state" class="form-control cus-form-control" id="inputState" placeholder="State">
                    </div>
                    
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">County:</label>
                      <input type="county" class="form-control cus-form-control"  id="inputCounty" placeholder="County">
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <form action="/action_page.php">
                        <label for="phone"class="custom-font col-form-label cus-form-control">Home phone:</label>
                        <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br><br>
                      </form>
                    </div>
                    <div class="col-md-4">
                      <form action="/action_page.php">
                        <label for="phone"class="custom-font col-form-label">Work phone:</label>
                        <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br><br>
                      </form>
                    </div>
                    <div class="col-md-4">
                      <form action="/action_page.php">
                        <label for="phone"class="custom-font col-form-label">Cell phone:</label>
                        <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br><br>
                      </form>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Would you like to receive appointment reminders via text message?</h6>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckChecked" checked>
                          <label class="form-check-label" for="flexCheckChecked">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h6 class="custom-font mb-2">Would you like to receive appointment reminders or online only special offers via email?</h6>
                      <div class="d-flex">
                        <div class="form-check me-4">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">Yes</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input cus-form-control" type="checkbox" value="" id="flexCheckChecked" checked>
                          <label class="form-check-label" for="flexCheckChecked">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="custom-font cus-form-control form-label">Email address</label>
                          <input type="email" class="form-control cus-form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="staticEmail" class="custom-font col-form-label">Patient Employer:</label>
                        <input class="form-control cus-form-control" type="text" placeholder="Patient Name" aria-label="default input example">
                      </div>
                      <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="custom-font form-label cus-form-control">Occupation:</label>
                        <div class="input-group mb-3">
                           <select class="form-select cus-form-control" id="inputGroupSelect01">
                             <option selected="">Choose...</option>
                             <option value="1">One</option>
                             <option value="2">Two</option>
                             <option value="3">Three</option>
                           </select>
                         </div>
                      </div>
                      <div class="col-md-4">
                        <label for="staticEmail" class="custom-font col-form-label ">Whom can we thank for refferring you to our office?</label>
                        <input class="form-control cus-form-control" type="text" placeholder="referred Name" aria-label="default input example">
                      </div>
                  </div>
                  <div class="row mb-4">
                    <h6 class="custom-font">In case of an emergency, whom shall we call?</h6>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Name:</label>
                      <input class="form-control cus-form-control" type="text" placeholder="Patient Name" aria-label="default input example">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Relationship:</label>
                      <input class="form-control cus-form-control" type="text" placeholder="Patient Name" aria-label="default input example">
                    </div>
                    <div class="col-md-4">
                        <label for="phone"class="custom-font col-form-label"># Phone:</label>
                        <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br><br>
                    </div>
                    <div class="col-md-6">
                      <label for="staticEmail" class="custom-font col-form-label">(If the patient is a minor) Name of Parent or Responsible Party:</label>
                      <input class="form-control cus-form-control" type="text" placeholder="Ganga Ram" aria-label="default input example">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Parent Date of Birth:</label>
                      <input class="form-control cus-form-control" name="starting_date" type="date" value="2020-02-01" id="example-date-input">
                  </div>
                    <div class="col-md-8">
                      <label for="staticEmail" class="custom-font col-form-label">Patient Address:</label>
                      <input type="street"class="form-control cus-form-control"id="autocomplete"placeholder="#4356,sec-D chandigarh">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">City:</label>
                      <input type="city" class="form-control cus-form-control" id="inputCity" placeholder="City">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">State:</label>
                      <input type="state" class="form-control cus-form-control" id="inputState" placeholder="State">
                    </div>
                    <div class="col-md-4">
                      <label for="staticEmail" class="custom-font col-form-label">Zip:</label>
                      <input type="zip" class="form-control cus-form-control" id="inputZip" placeholder="Zip">
                    </div>
                  </div>
                  <div class="row">
                    <h6 class="custom-font mb-2 text-center my-3">Health History</h6>
                    <div class="col-md-4">
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <h6 class="d-flex align-items-center me-5">AIDS/HIV</h6>
                        <div class="d-flex">
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Yes</label>
                          </div>
                          <div class="form-check me-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="button" value="previus">
      
                      <input type="button" value="next">
                
                    <div>
                      <input type="button" value="previus">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
       
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>



    <script>
      (function () {
    
    var navbar = document.querySelector('nav.top-fixed-nav');
    
    window.addEventListener('scroll', function() {
        if (window.scrollY > 0) {
            navbar.className += ' scrolling-header';
        } else {
            navbar.className = 'top-fixed-nav';
        }
    })
}());
    </script>
  </body>
</html>