@media (max-width: 991px) {
	.main-banner-section .main-banner-content h1 {
	    font-size: 30px;
	}
	.offer-section .offer-content h1 {
	    font-size: 30px;
	}
	.offer-section .offer-content p {
	    font-size: 12px;
	}
	.offer-section .offer-content ul li {
	    font-size: 12px;
	}
	.counter-section .stats h5 {
	    font-size: 15px;
	}
	.question-section .question-content {
	    padding: 60px 10px 0;
	}
	.question-section .question-content h2 {
	    font-size: 14px;
	}
	.question-section .question-content .question-icon img {
	    margin-bottom: 20px;
	    width: 100%;
	    max-width: 50px;
	}
	.question-section .question-content .question-icon h5 {
	    font-size: 15px;
	}
	.question-section .question-content .question-icon p {
	    font-size: 12px;
	}
	.result-section .result-content img {
	    width: 100%;
	    height: 310px;
	}
	.appointment-section ul li h5 {
	    font-size: 15px;
	}
	.appointment-section ul li p {
	    font-size: 12px;
	}
	.footer .footer-content ul {
	    padding: 10px 0;
	}
}

@media (max-width: 767px) {
	.navbar-light .navbar-toggler {
	    box-shadow: none;
	}
	.smile-section .smile-content h1 {
	    font-size: 30px;
	}
	.smile-section .smile-content h4 {
	    font-size: 18px;
	}
	.smile-section .smile-content p {
	    font-size: 16px;
	}
	.smile-section {
	    padding: 50px 0;
	}
	.appointment-section ul li {
	    width: 100%;
	    text-align: center;
	}
	.result-section .result-content img {
	    height: 230px;
	}
	.question-section .question-img {
		margin-top: 20px;
	}
	.question-section .col-lg-7 {
	    padding: 0;
	}
	.question-section .question-img img {
	    height: 250px;
	}
	.question-section .question-content .question-icon {
		text-align: center;
	}
	.contact-section .row .img-section {
	    padding-left: 15px;
	}
}